.venv/
__pycache__/
outputs/
analysis_outputs/
*.npz
.pytest_cache/
run_10_0.0006_interstellar_travel_seed_69/*
outputs_deepseek/*
analysis_outputs_microsoft/*
outputs_microsoft/*
analysis_outputs_microsoft_old/*
analysis_outputs_deepseek/*
outputs_OLD/
analysis_OLD/
analysis_deepseek/*
writing/plots_new/*
outputs_0.0001/*
analysis_0.0001/*